.menu,
.c-menu {
	
	ul {
		@extend .list--row;
		line-height: 1;
		background-color:rgba(0,0,0,.050);

		&:after {

			content: "";
			display: block;
			height: 2px;
			width: 100%;
			background: $gray--corporate;
		}
	}

	li {
		margin: 0;
		line-height: inherit;
		display: inline-block;
	}

	a {
		transition: all .2s ease-in-out;
		text-decoration: none;
		line-height: inherit;
		color: $gray--corporate;
		@include fontSizeRem(14);
		color: $gray--corporate;
		display: block;
		padding: $baseline/2;
		

		position: relative;

		&:after {


			transition: all .2s ease-in-out;

			// border: 1px solid $gray--corporate;
			// border-color: inherit;
			display: inline-block;
			content: "";

			position: absolute;

			background-color: $gray--corporate;
			width: 4px;
			height: 4px;
			border-radius: 100%;

			left: 0%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);

		}

		&:hover {
			color: orange;

			&:after {
				background-color: orange;
			}
		}
	}
}

@media screen and (min-width: $tablet) {

	.menu,
	.c-menu {
		
		ul {

			background-color: transparent;
		}
	}
}


@media screen and (min-width: $desktop) {

	.menu,
	.c-menu {
		
		ul {
			width: $desktop;
			margin: 0 auto;

			&:after {
				display: none;
			}
		}

		a {
			&:hover {

				&:after {
					width: $baseline/2;
					height: $baseline/2;
				}
			}
		}
	}
}