.c-tip {
	@extend .margins-off;
	
	background-color: $gray--corporate;
	margin-top: 2px;
	padding-top: 6px;
	line-height: 1;

	* {
		@include fontSizeRem(10);
		
		line-height: 1;
		text-transform: uppercase;
		font-family: $font-family--sans;
		color: $cream;

		display: inline-block;
		vertical-align: bottom;
		padding-bottom: 6px;
	}
}