* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: $font-family--serif;
}

img {
	display: block;
	max-width: 100%;
}

.here {
	fill: orange;
	 stroke-width: 1;
} 

* + * {
	margin-top: $baseline;
}

main[role="main"] {

	margin-top: 0;

	& > article.hentry {

		background-color: rgba(255, 255, 255, 0.6);
		margin: 0 $baseline;
	}
}

.margins-off > * {
	margin-top: 0;
}

body {
	position: relative;
}

body:after {

	display: block;
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(216, 212, 200, 0.31);
	
	background-color: rgba(249, 241, 219, 0.36);
	background-color: rgba(255, 253, 247, 0.36);
}

article {

	@include fontSizeRem(14);
	line-height: 1.6;
	// padding: $baseline $baseline/2;
	margin-top: 0;
	
	h2 {
	// 	@include fontSizeRem(18);
		font-weight: bold;
		color: $gray--corporate;
	}
}


h1,h2,h3,h4,h5,h6 {

	& + p {
		margin-top: 0;
		padding-top: $baseline;
		border-top: 1px solid orange;
		
		transition: all .2s ease;

		&:hover {
			border-top: 1px solid orange;
		}
	}
}

p + p {
	margin-top: $baseline/2;
}

h1,h2,h3,h4,h5,h6,p,span,em,hr,br { display: block; padding: 0; }

iframe {
  width: 100%    !important;
  // height: auto   !important;
}

label {
	font-size: 2rem;
	display: block;
	text-align: left;
	padding-left: 1rem;
}

/* Li counter with style trick @http://goo.gl/vW9Jxj */
ol {
    counter-reset:li; /* Initiate a counter */

	& > li {
	    list-style:none; /* Disable the normal item numbering */
		
		&:before {
			content:counter(li); /* Use the counter as content */
			counter-increment:li; /* Increment the counter by 1 */
		}
	}
}



@media screen and (min-width: $tablet) {
	
	article {
	// padding: $baseline*2 0;
	}
}



@media screen and (min-width: $desktop) {
	
	article {

		@include fontSizeRem(18);
		line-height: 1.6;
		max-width: $desktop;
		margin: 0 auto;
	}

	main[role="main"] {

		& > article.hentry {
			margin: 0 auto;

			p:first-child {

				padding: $baseline*5 $baseline*4 $baseline*5;
				text-align: center;
				line-height: 1.8;
			}
		}
	}
}
